*{
  box-sizing: border-box;
  background:cornflowerblue;
}

.center{
  text-align: center;
}

.grid{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3,1fr);
}

.square{
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #e8e5e5;
  border: 1px solid black;
}

.square_o{
  background: blue;
}
.square_x{
  background: red;
}

.reset{
  margin-top: 2rem;
  font-size: 2rem;
  background: #00d6d6;
  padding: 1rem;
  cursor: pointer;
  transition: 100ms;
}